/*csslint qualified-headings:false, unique-headings:false, known-properties:false, universal-selector:false*/

body {
    color: #333;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Segoe UI Semilight', 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

.navbar {
    min-height: 37px;
    margin-bottom: 0px;
    padding-top: 9px;
}

    .navbar-brand {
        height: 28px;
        padding: 0px 10px;
    }

    .navbar-inverse {
        background-color: #000;
    }

    .navbar .navbar-text {
        border-color: #999;
        border-width: 0px;
        border-left-width: 1px;
        border-style: solid;
        color: #999;
        font-weight: normal;
        margin: 0px;
        margin-top: -5px;
        padding-left: 10px;
    }


.container .jumbotron {
    color: #fff;
    padding: 0px;
}

    .jumbotron a, .jumbotron a:hover {
        color: #fff;
    }

    .jumbotron .hero-text {
        background-color: #405d6b;
    }

    .jumbotron .next-episode .countdown-container {
        background-color: #000;
        background: rgba(0,0,0,0.15);
    }

    .jumbotron .next-episode .countdown {
        display: inline-block;
        font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Arial, sans-serif;
        vertical-align: middle;
        margin: 0px;
    }

    .jumbotron .next-episode h2 {
        font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    }

h2 a, h2 a:hover, h2 a:focus, h2 a:active, h2 a:visited {
    color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

a, a:hover {
    color: #333;
}

.btn, .thumbnail, input[type='text'], input[type='url'], input[type='datetime'], .navbar, .label, .dropdown-menu, .container .jumbotron {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

    .btn-default:hover, .btn-default:focus {
        border-color: #8c8c8c;
    }

.btn-primary {
    background-color: #0054a3;
}

.dropdown-menu > li > a:hover {
    background-color: #0054a3;
    color: #fff;
}

.form-group .help-block {
    margin-left: -20px;
}

.click-to-show {
    cursor: pointer;
    font-style: italic;
    color: rgb(38, 124, 178);
}

.click-to-show-revealed {
    font-style: normal;
    color: initial;
}

.stage {
    background-color: #EEE;
}

.hangout-embed {
    background: #212121;
}

    .hangout-embed * {
        background: #212121;
    }

.how-to {
    float: left;
    padding: 0px 10px;
}

    .how-to h2 {
        color: #0092DD;
        font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Arial, sans-serif;
        font-size: 28px;
    } 

    .how-to p, .how-to li {
        font-size: 18px;
    }

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.admin-screen input {
    max-width: 400px;
}

.bottom-buffer {
    margin-bottom: 30px;
}

footer {
    margin-top: 60px;
}

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        footer nav ul > li {
            float: left;
            margin-right: 1em;
        }

.youtube-show > a > div {
    background: #000;
}

.youtube-show > a:hover img {
    opacity: 0.6;
}

.youtube-show .show-date {
    font-size: 0.8em;
}

.label-new-show {
    font-size: 0.6em;
}

.label-on-air {
    font-size: 28px;
    font-weight: normal;
    height: 50px;
    padding: 0.3em 0.6em;
}

/* Default to support Extra-Small devices (phones, 768px and below) */
    .btn {
        font-size: 12px;    
    }

    .youtube-show {
        max-width: 480px;
    }

    
    .jumbotron, .jumbotron .hero-text {
        height: 308px;
    }

    .jumbotron h1 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .jumbotron .next-episode p {
        font-size: 11px;
    }

    .jumbotron .next-episode h2 {
        font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
        font-size: 14px;
    }

    .jumbotron .next-episode .show-date {
        font-size: 16px;
    }

    .jumbotron .next-episode .show-date-time {
        font-size: 11px;
    }

    .jumbotron .next-episode .countdown-container {
        height: 39px;
        line-height: 35px;
    }

    .jumbotron .next-episode .countdown {
        font-size: 14px;
    }

    .next-episode .container .row h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .next-episode .container .row:nth-child(1) {
        margin-top: 12px;
    }

    .next-episode .container .row:nth-child(2) {
        margin-top: 14px;
    }

    .next-episode .container .row:nth-child(3) {
        margin-top: 5px;
    }

    .next-episode .container .row:nth-child(4) {
        margin-top: 13px;
    }

    .next-episode .container .row:nth-child(5) {
        margin-top: 18px;
    }

    .next-episode .container .row:nth-child(6) {
        margin-top: 14px;
    }

    .stage {
        padding: 0px 10px;
    }

    .stage h1 {
        font-size: 28px;
        margin: 0px;
        line-height: 28px;
        padding-top: 0.3em;
    }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .youtube-show {
        min-height: 400px;
    }

    .jumbotron {
        background: url('../images/640_HeroImage.png') no-repeat;
    }

    .jumbotron h1 {
        margin-top: 23px;
    }

     .next-episode .container .row:nth-child(2) {
        margin-top: 24px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .btn {
        font-size: 15px;    
    }

    .youtube-show {
        min-height: 400px;
    }

    .jumbotron {
        background: url('../images/1180_HeroImage.png') no-repeat;
    }

    .jumbotron, .jumbotron .hero-text {
        height: 534px;
    }

    .jumbotron h1 {
        font-size: 43px;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .jumbotron .next-episode p {
        font-size: 16px;
    }

    .jumbotron .next-episode h2 {
        font-size: 18px;
    }

    .jumbotron .next-episode .show-date {
        font-size: 28px;
    }

    .jumbotron .next-episode .show-date-time {
        font-size: 18px;
    }

    .jumbotron .next-episode .countdown-container {
        height: 56px;
        line-height: 52px;
    }

    .jumbotron .next-episode .countdown {
        font-size: 23px;
    }

    .next-episode .container .row h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .next-episode .container .row:nth-child(1) {
        margin-top: 14px;
    }

    .next-episode .container .row:nth-child(2) {
        margin-top: 30px;
    }

    .next-episode .container .row:nth-child(3) {
        margin-top: 10px;
    }

    .next-episode .container .row:nth-child(4) {
        margin-top: 20px;
    }

    .next-episode .container .row:nth-child(5) {
        margin-top: 32px;
    }

    .next-episode .container .row:nth-child(6) {
        margin-top: 32px;
    }

    .stage {
        padding: 0px 64px;
    }

    .stage h1 {
        font-size: 36px;
        line-height: 26px;
    }

    .stage h2 {
        font-size: 28px;
    }
}
